body{
	padding: 0;
	margin: 0;
	background-color: #008B8B;
}
h1{
	font-family: 'Arial';
	text-align: center;
	color: red;
}
.container{
	display: flex;
	font-family: 'Helvetica';
	justify-content: center;
	}

.container img{
	
}
h4{
	color: red;
	text-align: center;
}

p{
 color: red;
 text-align: left;
 font-size: 20px;
 margin-left: 40px;
 
}	
.card{
	color: red;
	border: solid 2px #000;
	height: 50vh; /* vh altura em % e vw largura */
	width: 20vw;
	text-align: center;
	margin: 15px;
}
#card1{
	
}
#card2{
	
}
#card3{
	
}

#card4{
	
}
		/* condição */
@media (max-width: 1000px) { /* @media - chamar propriedade*/
	
	.container{
		flex-direction: column; /* alterando vertical diagonal do container*/
	}
	.card{
		width: 100%;
		display: flex; /* ajusta o visualização dos elementos */
	}
	.container img{
		
	width: 100%;
	height: 100%;
	text-align: left;
	
	.cRight p{
		padding: 40px;
	}
	.cRight h4{
		padding: 40px;
	}
	.cRight input{
		padding: 40px;
	}
	
}

